@font-face {
   font-family: "Clash Display";
   src: url(../fonts/ClashDisplay-Light.woff2);
   font-weight: 200;
}

@font-face {
   font-family: "Clash Display";
   src: url(../fonts/ClashDisplay-Regular.woff2);
   font-weight: 400;
}

@font-face {
   font-family: "Clash Display";
   src: url(../fonts/ClashDisplay-Semibold.woff2);
   font-weight: 600;
}

@font-face {
   font-family: "Clash Display";
   src: url(../fonts/ClashDisplay-Bold.woff2);
   font-weight: 900;
}

@font-face {
   font-family: Satoshi;
   src: url(../fonts/Satoshi-Regular.woff2);
   font-weight: 400;
}


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --color-white: #ffffff;
   --color-black: #000000;
   --color-lite-gray: #F9F9F9;
   --color-dark-primary: #2A254B;
   --color-nav-links: #726E8D;
}

.btn{
   text-decoration: none;
   color: var(--color-dark-primary);
   background-color: var(--color-lite-gray);
   padding: 16px 32px;
   font-family: Satoshi;
   font-size: 16px;
}

.btn:hover{
   transition: all 0.8s;
   color: var(--color-lite-gray);
   background-color: var(--color-dark-primary);
}

h2{
   font-family: "Clash Display";
   font-weight: normal;
   font-size: 30px;
}

.offest{
   display: block;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: gray;
   z-index: 1000;
   opacity: 0.7;
}

.offest nav ul{
   display: grid;
   padding-top: 60px;
   justify-items: center;
   list-style-type: none;
}

.offest nav ul a{
   text-decoration: none;
   color: var(--color-white);
}

header {
   display: grid;
   row-gap: 20px;
   padding: 20px 2vw;
}

header>div{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   align-items: center;
}

header>div span{
   font-family: "Clash Display";
   justify-self: center;
   font-size: 24px;
}

header>div div.icons{
   justify-self: end;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   column-gap: 1vw;
}

header>div svg{
   height: 16px;
   color: var(--color-dark-primary);
}

header nav{
   justify-self: center;
}

header nav ul{
   list-style-type: none;
   display: flex;
   column-gap: 4vw;
}

header nav ul a{
   text-decoration: none;
   color: var(--color-nav-links);
   font-family: Satoshi;
   font-size: 16px;
}

header nav ul a:hover{
   color: var(--color-black);
   transition: all 0.7s;
}

main section.header{
   background-image: url(../images/sectionHeader.jpg);
   height: 42vw;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 0% 20%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   padding-right: 8vw;
}

main section.header div{
   display: grid;
   row-gap: 20px;
   background-color: var(--color-white);
   grid-column: 2/3;
   grid-template-rows: max-content;
   height: 64%;
   padding: 5vw;

}

main section.header div h1{
   font-family: "Clash Display";
   font-size: 32px;
   font-weight: 400;
}

main section.header div span{
   font-family: Satoshi;
   font-size: 18px;
}

main section.header div a{
   align-self: end;
   justify-self: start;
}

main section.our-brand{
   padding: 80px 6vw;
   display: grid;
   row-gap: 36px;
   padding-bottom: 40px;
}

main section.our-brand h2{
   font-family: "Clash Display";
   font-size: 28px;
   text-align: center;
   font-weight: 400;
}

main section.our-brand div{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   column-gap: 2vw;
}

main section.our-brand div article{
   display: grid;
   grid-template-rows: 24px repeat(2, 1fr);
   row-gap: 12px;
   padding: 48px;
   background-color: var(--color-lite-gray);
}

main section.our-brand div article svg{
   height: 100%;
}

main section.our-brand div article h3{
   font-family: "Clash Display";
   font-size: 20px;
   font-weight: 400;
}

main section.our-brand div article p{
   font-family: Satoshi;
}

main section.new-tovar {
   padding: 80px 6vw;
   display: grid;
   row-gap: 36px;
   padding-top: 40px;
}

main section.new-tovar div{
   display: grid;
   column-gap: 2vw;
   grid-template-columns: repeat(4, 1fr);
}

main section.new-tovar div article{
   display: grid;
   grid-template-rows: 305px 1fr;
   row-gap: 24px;
}

main section.new-tovar div article:hover{
   transform: scale(1.05);
   transition: all 0.8s;
}

main section.new-tovar div img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

main section.new-tovar div p {
   font-family: "Clash Display";
   font-size: 20px;
   font-weight: 400;
   display: flex;
   flex-direction: column;
   row-gap: 8px;
}

main section.new-tovar div p span{
   font-family: Satoshi;
}

main section.new-tovar a{
   justify-self: center;
}

main section.view{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 60px;
   grid-template-rows: 36vw;
   padding: 60px 6vw;
}

main section.view div{
   background-color: var(--color-dark-primary);
   padding: 5vw;
   color: var(--color-white);
   display: grid;
   grid-template-rows: min-content;
   row-gap: 12px;
}

main section.view img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

main section.view div a{
   align-self: end;
   justify-self: start;
   color: var(--color-white);
   background-color: var(--color-nav-links);
}

main section.view div h2{
   font-family: "Clash Display";
   font-weight: 400;
   font-size: 32px;
}

main section.view div span{
   font-family: Satoshi;
}

main section.reg {
   display: grid;
   padding-bottom: 100%;
   row-gap: 30px;
   justify-items: center;
   color: var(--color-white);
   background-image: url(..//images/bae4257d89397ead63485f276489b3fa.jpg);
   background-position: 0% 50%;
   padding: 80px 0;
}

main section.reg ul {
   display: flex;
   column-gap: 36px;
}

main section.reg ul li {
   display: grid;
   grid-template-columns: 36px 1fr;
   column-gap: 4px;
   font-family: "Satoshi";
   font-size: 16px;
   font-weight: 400;
}

main section.reg ul li svg {
   color: var(--color-white);
   width: 80%;
   height: 80%;
}

main section.reg h2 {
   font-weight: 400;
   font-family: "Clash Display";
}

main section.reg p {
   font-family: "Satoshi";
   font-size: 18px;
   color: var(--color-white);
   width: 36vw;
   text-align: center;
}

main section.reg form {
   display: grid;
   grid-template-rows: 56px;
   grid-template-columns: 3fr 1fr;
}

main section.reg form input[type=submit] {
   color: var(--color-white);
   background-color: var(--color-dark-primary);
   padding: 0 32px;

}

main section.reg form input {
   border: none;
   padding-left: 3vw;
   border-radius: 0;
}

body>footer{
    display: grid;
    row-gap: 24px;
    padding: 60px 6vw 24px 6vw;
    background-color: var(--color-dark-primary);
}



footer header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
}

footer header ul{
    list-style-type: none;
    color: var(--color-white);
}

footer header ul li:nth-child(1){
    font-family: "Clash Display";
}

footer header ul li{
    font-family: "Satoshi";
}

footer header form h4{
    font-family: "Clash Display";
    color: var(--color-white);
    font-weight: 400;

}

footer header form input{
    border: none;
    padding-left: 3vw;
    border-radius: 0;
}

footer header form input[type=submit]{
    color: var(--color-dark-primary);
    background-color: var(--color-white);
    padding: 0 32px;
}

header hr{
    border-color: var(--color-nav-links);
}

footer footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

footer span{
    font-family: "Satoshi";
    font-weight: 400;
    font-size: 14px;
    color: var(--color-white);
}

footer footer ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 24px;
    justify-items: end;
    list-style-type: none;
    justify-self: end;
    column-gap: 24px;
}

footer footer ul svg{
    height: 100%;
    color: var(--color-white);
}

footer form input[type=submit] {
   color: var(--color-white);
   background-color: var(--color-nav-links);
   padding: 0 32px;

}

footer form input{
   display: grid;
   grid-template-rows: 56px;
   grid-template-columns: 3fr 1fr;
   border: none;
   padding-left: 3vw;
   border-radius: 0;
}

@media screen and (min-widht: 390px){
   header>div{
      grid-template-columns: 1fr;
   }
   header hr, header nav, header div.icons svg{
      display: none;
   }
   header>div span{
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: start;
   }
   header>div div.burger{
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: end;
      display: flex;
      column-gap: 20px;
   }
   main section.header div{
      position: static;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      grid-template-columns: 1fr;
      grid-row: 1/2;
   }
   main section.header{
      grid-template-rows: max-content;
   }
   main section.header div h1{
      font-size: 24px;
   }
   main section.header div span{
      font-size: 16px;
   }
   main section.header div a{
      width: 100%;
      text-align: center;
   }
}